div#content {
  position:absolute;
  top:-50px;
  left:-70px;
  width:635px;
  height: 400px;
  overflow: auto;
  font-family: verdana, helvetica, sans serif;
  font-size: 13px;
  color:white;
  text-align:justify;
  margin:3px;
}

div#inner div#content a:hover {
  text-decoration:underline;
}

div#close, div#top {
  width:17px;
  height:17px;
  background:none;
  text-align:center;
  font-family:verdana, helvetica, sans serif;
  font-weight:bold;
  font-size:12px;
  border: 1px solid #222;
}

div#top {
  position:relative;
  left:573px;
  top:319px;
}

div#close {
  position:relative;
  left:573px;
  top:-47px;
}

div#inner div#close a:link, div#inner div#top a:link {
  color:#fff;
  cursor:default;
}

div#inner div#close a:visited, div#inner div#top a:visited {
  color:#fff;
  cursor:default;
}

div#inner div#close a:hover, div#inner div#top a:hover {
  color:#fff;
  cursor:default;
}

div#urltext {
  font-family:verdana, helvetica, sans serif;
  font-size:30px;
  position:absolute;
  top:-87px;
  left:-69px;
}

div#urltext, div#inner div#content a:link, div#inner div#content a:visited, div#inner a:hover, div#inner a:hover span {
  color:#ff7c11;
}

div#content div#titlebar {
  border: 1px solid #222222;
  background: #000;
  font-weight: normal;
  color:  #ff7c11;
}

div#content {
  margin-left:0;
  padding-right:8px;
}

.titleblock {
  font-family:verdana, helvetica, sans serif;
  font-size:12px;
  color:#ff7c11;
  font-weight:;
  margin-right:6px;
  margin-top:10px;
  margin-bottom:10px;
  margin-left:2px;
  border:1px solid #222;
  padding:4px;
}

.titleblock span {
  color:#ff7c11;
}

#urltext a:link {
  color:#444;
}

#urltext a:visited {
  color:#444;
}

#urltext a:hover {
  color:#444;
}

#urltext a:active {
  color:#444;
}